@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slidefromR {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slidefromL {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}

:root {
    --f1: 'Pixelify Sans', sans-serif;
    --f2: 'Single Day', cursive;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 90svh;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background: fixed no-repeat radial-gradient(rgb(255, 215, 215) 50%, rgb(249, 135, 135));
}

.decors {   
    position: absolute;
    opacity: 0;
}

#img-cont > #dec1 {
    top: 0;
    left: 0;
    /* z-index: 10; */
}
#img-cont > #dec1-1 {
    top: 0;
    right: 0;
    /* z-index: 10; */
}

#img-cont > #dec4 {
    left: 0;
    bottom: 0;
    /* z-index: 10; */
}
#img-cont > #dec4-1 {
    right: 0;
    bottom: 0;
    /* z-index: 10; */
    /* transform: translateX(300px); */
}

#img-cont > #fw-1 {
    left: 15%;
    top: 0;
}
#img-cont > #fw-2 {
    right: 15%;
    bottom: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 10px; 
    border: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
    box-shadow: 4px 4px 10px red;
    text-align: center;
    font-family: var(--f2);
    background-color: white;
    z-index: 0;
}

#heart {
    opacity: 1;
}

#hug {
    position: absolute;
    opacity: 0;
}

#head {
    margin-top: 10px;
}

span {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.btn {
    font-size: 1em;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: solid 2px rgb(245, 73, 73);
    border-radius: 5px;
    font-family: var(--f2);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(245, 73, 73);
    color: white;
}

/* FOR NO */
#grat {
    position: absolute;
    color: white;
    font-size: 5em;
    z-index: 1;
    opacity: 0;
    font-family: var(--f2);
}

.show {
    animation: fadeIn 1.5s ease 1s both;
    cursor: default;
}

.show1 {
    transition: opacity 0.5s ease 1s;
}

.animatetoR {
    animation: slidefromL 0.5s ease both;
}

.animatetoL {
    animation: slidefromR 0.5s ease both;
}
